#header {
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;

    a {
        font-family: "Satoshi";
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        text-decoration: none;
        color: #000000;
    }

    input {
        font-family: "Satoshi";
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #00000066;

    }
}

#allcard {
    .cardresponsive {
        h1 {
            font-family: "Integral CF";
            font-size: 32px;
            font-weight: 700;
            line-height: 38.4px;
            text-align: center;
            color: #000000;

        }
    }
}