* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff8c00; /* Arka plan rengi (turuncu) */
    background-image: linear-gradient(120deg, #ff8c00, #ffd700);
    color: #fff;
    padding: 12px 20px;
    z-index: 1000; 
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffd700;
}

.cards {
    margin: 100px auto 20px; 
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}
