#header {
    .nav {
        font-family: "Satoshi";
        font-size: 14px;
        line-height: 18.9px;
        text-align: left;
        color: white;
        span {
            font-weight: 400;
        }
        .sign {
            font-weight: 500;
            text-decoration: solid white;
            color: white;
        }

    }
.center{
    font-family: "Satoshi";
font-size: 16px;
font-weight: 400;
line-height: 21.6px;
text-align: left;


}
}
.yours{
    span{
        font-family: "Integral CF";
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;

    }
}
.carts{
    font-family: Satoshi;
font-size: 24px;
font-weight: 700;
line-height: 32.4px;
text-align: left;

}
.rights{

    p{
        font-family: "Satoshi";
font-size: 20px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: #00000099;

 .firsts{
    font-family: "Satoshi";
font-size: 20px;
font-weight: 700;
line-height: 27px;
text-align: right;

 }
 .ordsum{
    font-family: "Satoshi";
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    
}

    }
    .bottombut{
        font-family: "Satoshi";
font-size: 16px;
font-weight: 500;
line-height: 21.6px;
text-align: left;

    }
}
.sp{
 
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    text-align: left;
    
    
    }
