.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
  }
  
  .navbar-link:hover {
    background-color: #777;
  }
  
  .navbar-button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar-button:hover {
    background-color: #777;
  }
  